@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<ToDoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>ToDos</h1>
<a class="btn btn-primary mb-5" asp-action="Create">Add ToDo</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Datetime</th>
            <th>Period</th>
            <th>IsComplete</th>
            <th>Functions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.DateTime</td>
            <td>@item.Period</td>
            <td>@item.IsComplete</td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }    
    </tbody>
</table>